<div class="GuestbookTable">
    <div class="guestbookHeader">
        <h2 class="textHeader">Nieuw bericht</h2>
    </div>
    <div class="messageBlock whiteRow">
        <f:form action="validateForm" extensionName="Guestbook" controller="Form" pluginName="FormValidation" method="POST">
            <div class="messageFormTopBlock">
                <div class="messageName messageFormName whiteRow">
                    <div class="messageInput">
                        <label for="messageFormName">Naam</label>
                        <f:form.textfield name="guestbook[name]" id="messageFormName" />
                    </div>
                </div>
                <div class="messageInput messageFormSubmit">
                    <f:form.submit value="submit" id="submit" />
                </div>
            </div>
            <div class="messageContent messageFormContent whiteRow"><f:format.crop maxCharacters="100">{message.messageContent}</f:format.crop>
                <div class="messageInput">
                    <label for="messageFormMessageContent">Bericht</label>
                    <f:form.textarea name="guestbook[messageContent]" id="messageFormMessageContent" />
                </div>
             </div>
        </f:form>
    </div>
</div>